<style>
h1 {font-family: Tahoma, Geneva, sans-serif;color: #0D4C43;text-align:center}
p {font-family: Tahoma, Geneva, sans-serif;#0D4C43;text-align:center;}
label {font-family: Tahoma, Geneva, sans-serif;#0D4C43;text-align:center}
input {background-color: white;padding: 10px 24px;border: 2px solid #0D4C43;color: #0D4C43;border-radius: 4px;width: 250px;text-align:center;font-size:14px}
.input2 {background-color: #0D4C43;padding: 10px 24px;border: 2px solid #0D4C43;color: white;border-radius: 4px;width: 250px;text-align:center}
.input2:hover {background-color: white;padding: 10px 24px;border: 2px solid #0D4C43;color: #0D4C43;border-radius: 4px;width: 250px;text-align:center}
div {background-color:white;border: 2px solid #0D4C43;text-align:center;width: 300px;margin:0 auto}
</style>
<div style="position:relative;top:300px;">
<form action="/login" method="POST"><br>
        <label for="Username">Username:</label><br><br>
        <input type="text" id="Username" Name="Username" size="20" required="True"><br><br>
        <label for="Password">Password:</label><br><br>
        <input type="password" id="Password" Name="Password" size="20" required="True"><br><br>
        <input class="input2" type="submit" value="Login" /><br><br>
</form>
</div>